body {
    margin: 0;
}

#background {
    background-image: url('./images/firstbg.png'), url('./images/secondbg.png');
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-position: center, center;
    opacity: 0.8;
    height: 100vh;
}
